# Don't allow windows checkouts to convert `\n` to `\r\n`, as this
# breaks stuff that is meant to be run in linux-in-docker
* text=auto eol=lf

# Don't show notebook files when diffing in GitHub
notebooks/**/*ipynb linguist-generated=true
