## study def files

*~
model.log
*/input.csv
__pycache__
.python-version
output/*
tmp-storage/*

## notebook files

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# jupyter
.ipynb_checkpoints
.ipython/
.jupyter/
.local/

# sublime test/pycharm
.idea/
.DS_Store

# Emacs
*~

## R files
*.rproj
.Rproj.user
